<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<h1>Signup Form</h1>
	<hr>
	
	<form action="/signup" method="post">
	
		<label>FirstName</label><br>
		<input type="text" name="firstName"><br>
		<label>LastName</label>
		<input type="text" name="lastName"><br>
		<label>Username</label><br>
		<input type="text" name="userName"><br>
		<label>Password</label>
		<input type="password" name="password"><br>
		<input type="submit" value="Register">
	
	</form>

</body>
</html>